In [17]:
import setuptools
from setuptools import distutils

In [18]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler  
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import GRU,Dense 
from tensorflow.keras.optimizers import Adam

In [19]:
!pip install setuptools

Requirement already satisfied: setuptools in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (80.9.0)

In [20]:
df=pd.read_csv('data (2).csv',parse_dates=['Date'],index_col='Date')
print(df.head())

            Temperature
Date
2010-01-01    27.483571
2010-01-02    24.308678
2010-01-03    28.238443
2010-01-04    32.615149
2010-01-05    23.829233

In [21]:
scaler=MinMaxScaler(feature_range=(0,1))
scaled_data=scaler.fit_transform(df.values)
df

            Temperature
Date
2010-01-01    27.483571
2010-01-02    24.308678
2010-01-03    28.238443
2010-01-04    32.615149
2010-01-05    23.829233
...                 ...
2031-11-22    36.049278
2031-11-23    26.634973
2031-11-24    20.824377
2031-11-25    33.264565
2031-11-26    35.388888

[8000 rows x 1 columns]

data preparation for GRU

In [24]:
def create_object(data,time_step=1):
    X,y=[],[]
    for i in range(len(data)-time_step-1):
        X.append(data[i:(i+time_step),0])
        y.append(data[i+time_step,0])
    return np.array(X),np.array(y)


time_step=100 
X,y=create_object(scaled_data,time_step)
X=X.reshape(X.shape[0],X.shape[1],1)