In [25]:
import setuptools
from setuptools import distutils

In [26]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler  
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import GRU,Dense 
from tensorflow.keras.optimizers import Adam

In [27]:
!pip install setuptools

Requirement already satisfied: setuptools in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (80.9.0)

In [28]:
df=pd.read_csv('data (2).csv',parse_dates=['Date'],index_col='Date')
print(df.head())

            Temperature
Date
2010-01-01    27.483571
2010-01-02    24.308678
2010-01-03    28.238443
2010-01-04    32.615149
2010-01-05    23.829233

In [29]:
scaler=MinMaxScaler(feature_range=(0,1))
scaled_data=scaler.fit_transform(df.values)
df

            Temperature
Date
2010-01-01    27.483571
2010-01-02    24.308678
2010-01-03    28.238443
2010-01-04    32.615149
2010-01-05    23.829233
...                 ...
2031-11-22    36.049278
2031-11-23    26.634973
2031-11-24    20.824377
2031-11-25    33.264565
2031-11-26    35.388888

[8000 rows x 1 columns]

data preparation for GRU

In [30]:
def create_object(data,time_step=1):
    X,y=[],[]
    for i in range(len(data)-time_step-1):
        X.append(data[i:(i+time_step),0])
        y.append(data[i+time_step,0])
    return np.array(X),np.array(y)


time_step=100 
X,y=create_object(scaled_data,time_step)
X=X.reshape(X.shape[0],X.shape[1],1)

buiding the GRU model

In [32]:
model=Sequential()
model.add(GRU(units=50,return_sequences=True,input_shape=(X.shape[1],1)))
model.add(GRU(units=50))
model.add(Dense(units=1))
model.compile(optimizer=Adam(learning_rate=0.001),loss='mean_squared_error')

In [33]:
model.fit(X,y,epochs=10,batch_size=32)

Epoch 1/10
247/247 ━━━━━━━━━━━━━━━━━━━━ 16s 40ms/step - loss: 0.0235
Epoch 2/10
247/247 ━━━━━━━━━━━━━━━━━━━━ 10s 39ms/step - loss: 0.0181
Epoch 3/10
247/247 ━━━━━━━━━━━━━━━━━━━━ 10s 40ms/step - loss: 0.0180
Epoch 4/10
247/247 ━━━━━━━━━━━━━━━━━━━━ 10s 39ms/step - loss: 0.0180
Epoch 5/10
247/247 ━━━━━━━━━━━━━━━━━━━━ 10s 40ms/step - loss: 0.0179
Epoch 6/10
247/247 ━━━━━━━━━━━━━━━━━━━━ 10s 40ms/step - loss: 0.0178
Epoch 7/10
247/247 ━━━━━━━━━━━━━━━━━━━━ 10s 39ms/step - loss: 0.0179
Epoch 8/10
247/247 ━━━━━━━━━━━━━━━━━━━━ 10s 40ms/step - loss: 0.0178
Epoch 9/10
247/247 ━━━━━━━━━━━━━━━━━━━━ 10s 40ms/step - loss: 0.0178
Epoch 10/10
247/247 ━━━━━━━━━━━━━━━━━━━━ 10s 40ms/step - loss: 0.0177

In [34]:

input_sequence=scaled_data[-time_step:].reshape(1,time_step,1)
predicted_sequence=model.predict(input_sequence)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 334ms/step

In [38]:
predicted_values=scaler.inverse_transform(predicted_sequence)
print(f"The predicted temperaturte of tghe next day:{predicted_sequence[0][0]:.2f}")

The predicted temperaturte of tghe next day:0.49